<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static %}
    {% load mathfilters %}
    {% load blog_tags %}
    <link rel="stylesheet" href="{% static 'chercher_tweets.css' %}" type="text/css">
    
    <title>Chercher Tweets</title>
</head>
<body>
  
  <div class="global-wrapper">
    <div class="menu-side">
      <div class="flex-wrapper">
          <div class="flex-item">
            
          <a  href="{% url 'admin_dashboard' %}"><button  style="background-image: url('{% static 'img/dashboard_grey.png' %}'); margin-top:100px; background-position:15%; margin-right:8px; " class="btn">Dashboard</button></a>
          </div>
          <div class="flex-item">
            <a href={% url 'corpus' %}><button  style="margin-top: 30px; background-image: url('{% static 'img/document.png' %}');padding-right:100px; background-position:18%; margin-right:26px" class="btn">Corpus</button></a>
            </div>
            <div class="flex-item">
              <a href="{% url 'type_annotation' %}"><button  style="background-image: url('{% static 'img/emotions.png' %}');background-position:14%; margin-top: 30px;margin-left:0px; margin-right:0px; padding-right: 40px" class="btn">Type Annotation</button></a>
              </div>
              <div class="flex-item">
                <a href="{% url 'resultat' %}"><button  class="btn" style="background-image: url('{% static 'img/notepad.png' %}');background-position:17%; margin-right:8px ;margin-top: 30px;">Resultats</button></a>
                </div>
                <div class="flex-item">
                    <a href="{% url 'chercher_tweets' %}"><button style="margin-top: 30px; background-image: url('{% static 'img/twitter.png' %}');background-position:17%; margin-right:19px "id ="selected">Tweets</button></a>
                    </div>
                <div class="flex-item">
                  <a href="{% url 'contributeurs' %}"><button style="background-image: url('{% static 'img/profile.png' %}');background-position:14%; margin-left:25px "class="btn">Contributeurs</button></a>
                  </div>
                  <div class="flex-item">
                    <a href="{% url 'logout_admin' %}"><button style="background-image: url('{% static 'img/logout.png' %}');background-position:14%; margin-left:42px; margin-top: 30px"class="btn">Se Deconnecter</button></a>
                    </div>
        </div>
      </div>
      <div class="content-side">
        <h1>Tweets</h1>
     
        <div class="recent-corpus">
          <h1 style="font-size: 26px">Récupérer les Tweets</h1>
          <div class="recent-corpus-block">
            <form action="{% url 'chercher_tweets' %}" method="post">
              {% csrf_token %}
          <div class="search_pannel">
      
          <input type="text" name="keyword" id="myInput" style="background-image: url('{% static 'img/search.png' %}');" required  placeholder="Entrez Keyword ou Hashtag">
          
       
          <input name="limit"style=" width: 60px; padding: 11px 15px 11px 15px; border: 1px solid #ddd"class="fields type filter_type" required type="number" min="0"placeholder="Limite">
          <input name="start_date"style=" width: 100px; padding: 11px 15px 11px 15px; border: 1px solid #ddd"class="fields type filter_type" type="date" >
          <input name="end_date"style=" width: 100px; padding: 11px 15px 11px 15px; border: 1px solid #ddd"class="fields type filter_type" type="date" >
      
           <button type="submit" style=" display: inline"class="importer">Chercher</button>
      </div>
  </form>
   
    
    <form style="margin-left: 30px"action="{% url 'chercher_tweets_keyword' query limit%}" method="post">
        {% csrf_token %}
        <h2>Résultats: </h2>
        <div style="margin: 0 auto; width: 90%" class="tweets">
            {% for tweet in tweets%}
            
            <div class="entry">
                <span>Tweet: </span>
                <input class="fields tweet_fields" type="text" name="tweet" value="{{tweet|index:1}}" style="width: 90%" readonly required>
    
           </div>
           
           {%endfor%}
           <br>
           <div style="margin: 0 auto; width: fit-content"class="entry">
            <span style="font-size: 24px" class="type-annot">Choisissez le Corpus: </span>
            <select style="margin-right: 15px" class="fields type" name="corpus">
              {% for corpus in tous_corpus%}
              <option value="{{corpus.id}}">{{corpus.titre_corpus}}</option>
              {%endfor%}
            </select>
            <button type="submit" style=" display: inline"class="importer">Enregistrer</button>

       </div>

    </form>
        <br>
            
          </div>
        </div>
        </div>
      
      </div>

    </div>
 
     

  </div>
</body>