






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static %}
    <link rel="stylesheet" href="{% static 'resultat_tous_corpus.css' %}" type="text/css">
    
    <title>Contributeurs</title>
</head>
<body>
  
  <div class="global-wrapper">
    <div class="menu-side">
      <div class="flex-wrapper">
          <div class="flex-item">
            
          <a  href="{% url 'admin_dashboard' %}"><button  style="background-image: url('{% static 'img/dashboard_grey.png' %}'); margin-top:100px; background-position:15%; margin-right:8px; " class="btn">Dashboard</button></a>
          </div>
          <div class="flex-item">
            <a href={% url 'corpus' %}><button  style="margin-top: 30px; background-image: url('{% static 'img/document.png' %}');padding-right:100px; background-position:18%; margin-right:26px" class="btn">Corpus</button></a>
            </div>
            <div class="flex-item">
              <a href="{% url 'type_annotation' %}"><button  style="background-image: url('{% static 'img/emotions.png' %}');background-position:14%; margin-top: 30px;margin-left:0px; margin-right:0px; padding-right: 40px" class="btn">Type Annotation</button></a>
              </div>
              <div class="flex-item">
                <a href="{% url 'resultat' %}"><button   style="background-image: url('{% static 'img/notepad.png' %}');background-position:17%; margin-right:8px ;margin-top: 30px; "class="btn">Resultats</button></a>
                </div>
                <div class="flex-item">
                  <a href="{% url 'chercher_tweets' %}"><button style="background-image: url('{% static 'img/twitter_grey.png' %}');background-position:17%; margin-right:19px "class="btn">Tweets</button></a>
                  </div>
                <div  class="flex-item">
                  <a  href="{% url 'contributeurs' %}"><button id ="selected" style="  background-image: url('{% static 'img/profile_blue.png' %}');background-position:10%;margin-left:10px; margin-top:30px; padding-right: 45px; padding-left: 63px">Contributeurs</button></a>
                  </div>
                  <div class="flex-item">
                    <a href="{% url 'logout_admin' %}"><button style="background-image: url('{% static 'img/logout.png' %}');background-position:14%; margin-left:42px; margin-top: 30px"class="btn">Se Deconnecter</button></a>
                    </div>
        </div>
      </div>
      <div class="content-side">
        <h1>Contributeurs</h1>
      
        <div class="recent-corpus">
          <h1 style="font-size: 26px">Contributeur</h1>
          <div class="recent-corpus-block" style="width: 70%; margin: 0 auto">
            <div class="entry">
              <img src="{% static 'img/profile-user.png' %}" style="width: 170px; margin-bottom:20px; margin:0 auto; padding-top:20px; display: block">
            </div>
            <div class="entry">
                <span class="titre" style="font-size: 30px; text-align:center"> {{contr.nom}} {{contr.prenom}}</span>
            </div>
            <div class="entry">
                <span class="fields type" style="font-size: 25px; margin-left:31%"><span style="color: #295DC0;">&#9679; </span>Login: </span>
                <span class="fields type" style="font-size: 25px; margin-left:10px"> {{contr.login}}</span>
            </div>
            <div class="entry">
              <span class="fields type" style="font-size: 25px; margin-left:31%"><span style="color: #295DC0;">&#9679; </span>Téléphone: </span>
              <span class="fields type" style="font-size: 25px; margin-left:10px"> {% if contr.tele %} {{contr.tele}} {%else%}{%endif%}</span>
          </div>
            <div class="entry">
              <span class="fields type" style="font-size: 25px;margin-left:31%"><span style="color: #295DC0;">&#9679; </span>Email: </span>
              <span class="fields type" style="font-size: 25px; margin-left:10px"> {% if contr.email %} {{contr.email}} {%else%}{%endif%}</span>
            </div>
              <div class="entry">
              <span class="fields type" style="font-size: 25px; margin-left:31%"><span style="color: #295DC0;">&#9679; </span>Profession: </span>
              <span class="fields type" style="font-size: 25px; margin-left:10px">{% if contr.profession %} {{contr.profession}} {%else%}{%endif%}</span>
              </div>
              <form action="{% url 'bloquer_contr' contr.login.login %}" method="post">
                {% csrf_token %}
                <input class="importer delete" style="margin: 0 auto;margin-top: 20px; display: block;" type="submit" value="{% if contr.bloque %} Débloquer {%else%} Bloquer {%endif%}">
            </form>
            <br>
          </div>
                
             </div>


          </div>
        </div>

      </body>
      </html>












<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static %}
    
    <title>Gerer Contributeur</title>
</head>
<body>
    <form action="{% url 'gerer_contr' contr.login.login %}" method="post">
        {% csrf_token %}
        <h2>{{contr.login}}</h2>
        <span>Prenom: {{contr.prenom}}</span>
        <br>
        <span>Nom: {{contr.nom}}</span>
        <br>
        <span>Email: {{contr.email}}</span>
        <br>
        <span>Profession: {{contr.profession}}</span>
        <br>
        <span>Bloquer Contributeur: </span>
        <input type="radio" name="bloque" {% if contr.bloque %} checked {%endif%} value = "1">Oui
        <input type="radio" name="bloque" {% if not contr.bloque %} checked {%endif%}value = "0">Non
        <br>
        <button>Valider</button>
    </form>

</body>
</html>


-->